@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif");


:root{
    --white: #FFFFFF;
    --bleu: #55C0CF;
    --marron: #2C1E1E;
    --marronFonce: #1F1615;
    --orange: #B65F28;
    --jaune: #FFD543;
}


a {
    text-decoration: none;
}

body {
    background-color: #B65F28;
}

.content {
    background-color: #FFFFFF;
    padding: 2em;
    padding-top: 0;
}
#logoSite{
    width: 4.5em;
    Height: 4.5em;
    margin: 1em 0em 0em 1em;
}

#header{
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
}

#header-right, #social-network {
    display: flex;
    align-items: center;
}
#mainNav{
    display: flex;
    list-style: none;
    gap: 2em;
    margin-bottom: 0;
}
#mainNavMobile{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    padding-left: 0.5em;
    gap: 2em;
    text-decoration: underline 2px black;
}

#mainNavMobilePanier{
    list-style: none;
    display: flex;
    padding-left: 0.5em;
    gap: 1em;
    margin-bottom: 0;
}


#mainNavMobile a, #mainNav a, #mainNavMobilePanier a{
    color: var(--white);
    font-size: 1.5rem;
}

#panierMobile{
    text-decoration: underline 2px black;

}


#menuBurger{
    display: block;
    width: 4em;
    height: 4em;
    margin-top: 2em;
    padding: 0;
    border: none;
}

#imgMenuBurger{
    margin: 0;
    width: 4em;
    height: 4em;
}

#panier{
    display: flex;
    align-items: center;
    
}
#imageCroix{
    width: 3em;
    height: 3em;
    padding: 1em;
}

.imgPanier{
    width: 1.8em;
    height: 1.8em;
}
.imgDelete{
   width: 2em;
   height: 2em;
}
.imgProduitPanier{
    width: 7em;
    height: 5em;
}
.divProduitPanier{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}
.divInfo{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    width: 4em;
}
.divInfo input{
    width: 3em;
}
.divInfo p{
    margin: 0;
}

.panierP{
    margin-top: 0.1em;
    margin-right: 0.2em;
    background-color: var(--bleu);
    padding: 0.1em 0.4em 0.1em 0.4em;
    border-radius: 50%;
}

#header-logo{
    display: flex;
    margin: 1.5em;
}
/*caroussel*/
.carrousel div{
    height: 35em;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    
}

#boutonBoutique{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.9);
}

/*filtres*/
#prixMin, #prixMax{
    width: 6em;
}
#toggleCategories{
    display: flex;
}
.hidden{
    transform: rotate(180deg);
}
.visible{
    transform: rotate(0deg);
}
#filter{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-right: 4em;
}
#zone-filtre-categories {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
#zone-filtre-prix {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
#zone-filtre-note{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#titreBoutique{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    background-color: var(--white);
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

#affichageProduit div img{
   width:15em;
   height: 10em;
}
.id{
    display: none;
}
.produitUnitaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 0.1px solid black;
    border-radius: 2px;
}

.boutonAddPanier{
    width: 10em;
}

#affichageProduit{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5em;
    margin-top: 2em;
}

#affichagePanier{
    background-color: var(--white);
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(-100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

#affichagePanier.opened{
    transform: translateY(0);
    opacity: 1;
    border: 1px solid black;
    display: block;
}
#affichagePanier.closed{
    display: none;
}
#zonePanier{
    background-color: grey;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 15em;
    overflow: scroll;
}
 
 
 .descriptionProduit{
    font-size: 1.8rem;
 }
 .prixProduit{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5em;
 }
 .noteProduit{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5em;
 }
 .boutonAddPanier{
    font-size: 1.2rem;
    width: 50%;
    height: 3em;
    border-radius: 4px;
    border:none;
 }
 .boutonAddPanier:hover{
    background-color: var(--white);
    opacity: 0.3;
 }
 #titrePanier{
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
 }

#piedPanier{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#piedPanier p{
    font-size: 1.5rem;
}

.boutonPanier{
    height: 3em;
    width: 50%;
    border-radius: 6px;
    font-family: 'Droid serif';
    font-size: 1.3rem;
    margin-bottom: 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: none;
}


#footer{
    display: flex;
    flex-direction: column;
    margin-right: 8em;
    padding: 0;
}
.logoReseaux{
    width: 3em;
    height: 3em;
    border-radius: 6px;
    margin-top: 1em;

}
#social-network{
    display: flex;
    gap: 1.3em;
    margin-left: 0.5em;
    
}

#informations, #contact {
    margin-left: 0.5em;
    margin-bottom: 2em;
}


.text-style1 {
    font-size: 20px;
    font-family: 'Fjalla One';
    
}
.text-style1 a {
    color: #FFFFFF;
}

.text-style2 {
    display: inline-block;
    font-family: 'Droid Serif';
    font-size: 1rem;
    padding: 1em;
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
}

.text-style2 a {
    color: #2C1E1E;
}

.text-style3 {
    font-size: 1.5rem;
    padding-bottom: 1em;
    font-weight: bold;
}
.text-style3, .text-style4 {
    color: #2C1E1E;
    font-family: 'Droid Serif';
}

.zone-filtre {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table {
    display: table;
    padding: 10px;
}


/*médias query de la page index*/
@media  only screen and (max-width: 896px) {
     #header-right{
        display: none;
    }
    #headerMobile{
        display: none;
    }
}

@media  only screen and (min-width: 897px) {
    #menuBurger{
        display: none;
    }
    #headerMobile{
        display: none;
    }
}
@media only screen and (min-width: 1024px){
    #footer{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-left: 1em;
        padding-right: 1em;
        gap: 3em;
    }
    #informations, #contact, #social-network{
        margin-left: 0;
    }

    .logoReseaux{
        margin-top: 0;
    }
    
}


/*médias query de la page boutique*/
@media only screen and (min-width: 897px){
    .content{
        display: flex;
        flex-direction: row;
    }
    .zone-filtre{
        display: block;
    }

    #affichageProduit{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        gap: 5em;
        justify-content: center;
    }
    #imageCroix{
        width: 3em;
        height: 3em;
        padding: 1em;
     }

    #affichagePanier{
        position: fixed;
        top: 5.5em;
        right: 0;
        width: 30%;
        height: 100%;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
    }
    #titrePanier{
        margin-top: 0;
    }
    .boutonPanier{
        width: 80%;
        height: 3em;
        border: none;
    }
    .boutonAddPanier{
        width: 80%;
    }


}
